@keyframes pulse {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
    
}

:root {
    --color-1: #11120f;
    --color-2: #95a08d;
    --color-3: #efefef;
    --color-4: #000000;
    --color-5: #393f2d;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Header CSS*/

header {
    background-color: var(--color-4);
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 1%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color: var(--color-2);
    font-family: 'Caudex', serif;
    font-size: 2rem;
    font-weight: bold;
}

.logo img {
    width: 4vw;
}

.menu {
    position: relative;
    display: inline-block;
}


.menu-button:hover {
    cursor: pointer;
}

.menu img {
    width: 2.25vw;
}

.menu-dropdown {
    display: none;
    position: absolute;
    box-shadow: 5px 5px 10px black;
    z-index: 1;
    background-color: var(--color-5);
    right: 0;
}

.menu-dropdown a {
    font-family: 'Caudex', serif;
    text-align: center;
    display: block;
    color: var(--color-3);
    text-decoration: none;
    padding: 6px;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-dropdown a:hover {
    background-color: var(--color-2);
}

.menu:hover .menu-dropdown {
    display: block;
}

/*Main CSS*/

main {
    background-color: var(--color-1);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw 0;
}

.central-globe img {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 35vw;
}

.selection-biome-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.selection-biome-column h3 {
    color: var(--color-3);
    font-family: 'Caudex', serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 25%;
}

.selection-biome-column img {
    width: 12vw;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    opacity: 25%;
}

.section-title {
    width: 20%;
    margin: 0 auto;
}

.section-title h1 {
    color: var(--color-2);
    font-family: 'Caudex', serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color-4);
    border-radius: 20px;
    padding: 8px;
}

.section-subtitle h2 {
    color: var(--color-2);
    font-family: 'Caudex', serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-4);
    border-radius: 20px;
    padding: 8px;
}

    /* Biomes Page */

    .biomes {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 2vw 0;
    }

    .world-map {
        width: 60%;
        margin: 0 auto;
    }

    .world-map img {
        width: 60vw;
        border: 5px solid black;
        border-radius: 25%;
        box-shadow: 1px 1px 3px black;
    }

    .world-map img:hover {
        transform: scale(1.5);
        box-shadow: 5px 5px 15px black;
    }

    .biome-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .biome-info img {
        width: 10vw;
        border: 5px solid black;
        border-radius: 50%;
        box-shadow: 1px 1px 5px black;
    }

    .biome-info img:hover {
        transform: scale(2.5);
        box-shadow: 5px 5px 10px black;
    }

    .biome-text {
        width: 75%;
        margin: 0 auto;
    }

    .biome-text p {
        color: var(--color-3);
        padding-top: 1rem;
        text-align: justify;
    }

/*Footer CSS*/

footer {
    background-color: var(--color-4);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-2);
    padding: 0.5vw 0;
}

.footer-logo {
    font-family: 'Caudex', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.35vw;
    font-size: 1.75rem;
    justify-content: center;
    font-weight: bold;
}

.footer-logo img {
    width: 3vw;
}

.copy {
    font-size: 0.75rem;
}